@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}

<div class="container">
    <br />


    <div class="row">
        <div class="col-lg-6 mb-6 mx-auto">
            <div class="card h-100">
                <h4 class="card-header">Forgot password confirmation<br /></h4>

                <div class="card-body">
                    <div class="alert alert-info">
                        Please check your email to reset your password.
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- fine form -->
